* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  height: 100vh;
  display: block;
  text-align: center;
  /* background-image: url(.//images/main-bcg.jpeg); */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-position: center/cover; */
  /* position: relative; */

  /* position: absolute;
  z-index: -1;
  filter: brightness(40%);
  left: -320px;
  width: auto; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/main-bcg.jpeg) center/cover no-repeat fixed;
}

header div {
  display: inline-block;
  width: 174px;
  height: 73.5px;
  border: 3px solid rgb(105, 143, 63);
  background-color: transparent;
}

header button {
  background-color: rgb(105, 143, 63);
  width: 160px;
  height: 60px;
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  border: none;
  margin: 3.5px auto;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: rgb(65, 66, 63);
  cursor: pointer;
}

header h3 {
  font-size: 5rem;
  font-weight: 500;
  color: white;
  letter-spacing: 5px;
  margin: 5rem auto;
}

h2 {
  color: rgb(105, 143, 63);
  font-size: 3.5rem;
  font-family: "Rouge Script", cursive;
}

.section-divider {
  height: 7px;
  background-image: linear-gradient(
    to left,
    rgb(105, 143, 63),
    rgb(247, 162, 18),
    rgb(105, 143, 63)
  );
}

.grey {
  background-color: rgb(229, 229, 229);
  text-align: center;
  padding: 0rem 6rem;
}

.grey-child {
  height: 30rem;
}

.grey-child i {
  font-size: 4rem;
  color: rgb(66, 64, 64);
  padding: 4rem 0rem;
}

.grey-child h3 {
  color: rgb(105, 143, 63);
  font-size: 1.5rem;
  letter-spacing: 0.7rem;
  font-weight: 900;
  padding-bottom: 3rem;
}

.grey-child p {
  font-size: 1.7rem;
  color: rgb(105, 103, 103);
  line-height: 1.5;
}

.about {
  margin: 1rem 3rem;
}

.teaPot {
  margin: 8rem 0rem 3rem 0rem;
}

.teaPot img {
  width: 30rem;
  border: 1rem solid rgb(105, 143, 63);
  border-radius: 2rem;
}

span {
  color: rgb(105, 143, 63);
  font-size: 3.1rem;
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.about h3 {
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.about p {
  font-size: 1.7rem;
  line-height: 1.5;
  color: rgb(83, 81, 81);
  padding-bottom: 2rem;
}

.learn button {
  background-color: rgb(105, 143, 63);
  width: 140.3px;
  height: 50px;
  color: rgb(58, 62, 59);
  font-size: 1.5rem;
  border: none;
  margin: 3.5px 4px;
  font-weight: 600;
}

.learn {
  width: 153.5px;
  height: 62.5px;
  border: 3px solid rgb(105, 143, 63);
  background-color: transparent;
  margin: 3rem 0rem 6rem 0rem;
}

.checkOut {
  background-color: rgb(58, 62, 59);
  padding: 10rem 3rem;
}

.checkOut img {
  width: 30rem;
  border-radius: 7px;
}

.product {
  padding-top: 6rem;
}

.checkOut button {
  background-color: rgb(105, 143, 63);
  width: 135.5px;
  height: 50px;
  color: rgb(58, 62, 59);
  font-size: 1.5rem;
  border: none;
  margin: 3.5px 4px;
  font-weight: 600;
}

.inventory {
  width: 150px;
  height: 64px;
  border: 3px solid rgb(105, 143, 63);
  background-color: transparent;
  margin: 3rem 0rem;
}

.checkOut h3 {
  color: white;
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.description {
  color: white;
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 400;
}

.checkOut h4 {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1rem;
  padding: 3rem 0rem;
}

.dollar {
  color: rgb(105, 143, 63);
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 600;
}

.generalInfo {
  padding: 9rem 4rem;
}

.fa-location-arrow,
.fa-envelope {
  font-size: 2.5rem;
  color: rgb(105, 143, 63);
  float: left;
  margin: 0.8rem 2rem 0rem 0rem;
}

.generalInfo h3 {
  padding-bottom: 4rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.enterInfo {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

::placeholder {
  color: rgb(105, 143, 63);
}

textarea {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(105, 143, 63);
  letter-spacing: 1rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(105, 143, 63);
  outline: none;
}

hr {
  border: 1px solid rgb(105, 143, 63);
}

.generalInfo button {
  height: 40px;
  width: 80px;
  background-color: rgb(105, 143, 63);
  border: none;
  outline: none;
  color: rgb(53, 50, 50);
  font-weight: 600;
}

.send {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-top: 5rem;
  padding-top: 4px;
  height: 54px;
  width: 94px;
  border: 3px solid rgb(105, 143, 63);
}

footer {
  background-color: rgb(58, 62, 59);
  padding-top: 8rem;
  text-align: center;
  height: 35vh;
}

.fab {
  font-size: 2rem;
  color: white;
  padding-right: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.copyRight {
  font-size: 1.5rem;
  display: inline;
  font-weight: 100;
  letter-spacing: 0.8rem;
}

footer p {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  color: white;
  font-weight: 100;
}
